<div class="container">
    <form>
        <p *ngIf="message" class="message">{{ message }}</p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Document Title</label>
                <input type="email" class="form-control" id="document_title" placeholder="Document title">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">File</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="upload()" id="file">
                        <label class="custom-file-label" for="inputGroupFile04">{{ file_name }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
              <p>Branch : </p>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ branch_name }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor="let branch of branchList" (click)="changeBranch(branch.branch_id)">{{ branch.branch_name }}</a>
                  </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <p>Subject : &nbsp;</p>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ subject_name }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor="let subject of subjectList" (click)="changeSubject(subject.subject_id)">{{ subject.subject_name }}</a>
                  </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <p>Module no : &nbsp;</p>
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ module }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="changeModule(0)">0</a>
                    <a class="dropdown-item" (click)="changeModule(1)">1</a>
                    <a class="dropdown-item" (click)="changeModule(2)">2</a>
                    <a class="dropdown-item" (click)="changeModule(3)">3</a>
                    <a class="dropdown-item" (click)="changeModule(4)">4</a>
                    <a class="dropdown-item" (click)="changeModule(5)">5</a>
                  </div>
              </div>
            </div>
        </div>
        <span class="btn btn-primary" (click)="addDocument()">Add Document</span>
    </form>
    <div class="form">
        <p class="title">Document List :</p>
    </div>
    <div *ngIf="documentList">
        <div class="table">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Document Title</th>
                        <th scope="col">Subject Code</th>
                        <th scope="col">Module</th>
                        <th scope="col">Year</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let document of documentList">
                    <tr>
                        <td>{{ document.document_title }}</td>
                        <td>{{ document.subject_code }}</td>
                        <td>{{ document.module }}</td>
                        <td>{{ document.year }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ document.document_url }}" target="_blank">Download</a>
                            <a class="btn btn-danger" (click)="setid(document.document_id)" data-toggle="modal" data-target="#staticBackdrop">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete Subject</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this document ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteDocument()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>