<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4" *ngFor="let branch of branchList">
            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">{{ branch.branch_name }}</h5>
                </div>
                <button routerLink="list-document" class="btn btn-primary stretched-link" (click)="changeBranch(branch.branch_id)">Fetch Document</button>
            </div>
        </div>
      </div>
</div>