<!-- nav-bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand">
        <img src="./assets/images/logo.svg" class="inline" height="40" width="40">
        <p style="margin-left: 20px; color: white;" class="inline" routerLink="home">{{ title }}</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home"><p>Home</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="add-branch"><p>Add Branch</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="add-subject"><p>Add Subject</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="add-document"><p>Add Document</p></a>
            </li>
            <li class="nav-item ">
                <div class="nav-link btn btn-success" routerLink="sign-in"><p>SIGN IN</p></div>
            </li>
            <li class="nav-item p-0.5">
                <div class="nav-link btn btn-success" routerLink="sign-up"><p>SIGN UP</p></div>
            </li>
            <li class="nav-item">
                <img src="./assets/images/profile_pic.svg" class="inline" height="40" width="40">
                
                <div class="dropdown inline">
                    <p class="dropdown-toggle nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ faculty_name }}
                    </p>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink="profile">Profile</a>
                        <a class="dropdown-item" routerLink="edit-profile">Edit Profile</a>
                        <a class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>