.title{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: large;
}

.nav-item{
    a{
        text-align: center;
    }

    a:hover{
        p{
            color: white !important;
        }
    }

    div{
        margin-left: 20px;

        p{
            color: white;
        }
    }

    .btn{
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .dropdown{
        margin-right: 40px;

        .dropdown-item{
            cursor: pointer;
        }

        p{
            cursor: pointer;
            text-align: center;
            color: white;
        }
    }
}
