<div class=container>
    <form class="form">
        <div class="form-row align-items-center">
          <div class="col-sm-6 my-1">
                <label class="sr-only" for="inlineFormInputName">Name</label>
                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Branch Name">
          </div>
          <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Add Branch</button>
          </div>
        </div>
    </form>

    <div class="form">
        <p class="title">Branch List :</p>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Computer Science
                <span class="btn btn-danger">Delete</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Mechanical
                <span class="btn btn-danger">Delete</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Electronics and Communication
                <span class="btn btn-danger">Delete</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Civil
                <span class="btn btn-danger">Delete</span>
            </li>
          </ul>

    </div>
</div>